{% extends 'header.html' %}
{% load static %}

{% block title %}
<title>Gallery</title>
{% endblock %}

{% block gallery %}
    <li class="nav-item">
        <a class="nav-link text-white  bg-gradient-primary " href="{% url 'gallery' %}">
        <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
            <i class="fa fa-image"></i>
        </div>
        <span class="nav-link-text ms-1">Gallery</span>
        </a>
    </li>
 {% endblock %}

 {% block content %}
   <!-- End Navbar -->
  <div class="container-fluid px-2 px-md-4"><br><br><br>
    <!-- <div class="page-header min-height-300 border-radius-xl mt-4" style="background-image: url('https://images.unsplash.com/photo-1531512073830-ba890ca4eba2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1920&q=80');">
      <span class="mask  bg-gradient-primary  opacity-6"></span>
    </div> -->
    <div class="card card-body mx-3 mx-md-4 mt-n6">
      <div class="row gx-4 mb-2">
        <div class="col-lg-4 col-md-6 my-sm-auto ms-sm-auto me-sm-0 mx-auto mt-3">
          <div class="nav-wrapper position-relative end-0">
            
          </div>
        </div>
      </div>
     <h4>Gallery</h4>
      <div class="row">
        <p style="text-align: center; color: red;">{{msg}}</p>
        <div class="row">
          <div class="card-body">
            <form role="form" action="{% url 'gallery' %}" method="POST" enctype="multipart/form-data">
              {% csrf_token %}
                    <div class="col-8">
                      <label for="" class="form-control">Pic</label>
                      <input type="file" name="pic" required class="form-control" style="background-color: rgb(250, 243, 242); padding-left: 10px; border: black solid 1px;" id="">
                    </div>

                    <div class="col-8">
                      <label for="" class="form-control">Pic</label>
                      <select id="types" name="types" class="form-control" style="background-color: rgb(250, 243, 242); padding-left: 10px; border: black solid 1px; font-size: large; text-align: center;" >
                        <option value=""></option>
                        <option value="garden">Garden</option>
                        <option value="society">Society</option>
                        <option value="events">Events</option>
                        <option value="gym">Gym</option>
                      </select>
                    </div><br>
                    
                  <div class="row" style="padding-top: 10px;">
                    <div class="col-3">

                      <button type="submit" class="btn btn-primary">Add photo</button>
                    </div>
                  </div>
                </div>
             </form>
        
        </div>
      </div>
    </div>
  </div>
  <br><br>
   {% endblock %}