{% extends 'header.html' %}
{% load static %}

{% block title %}
<title>View Notice</title>
{% endblock %}

{% block notice %}
<li class="nav-item">
  <a class="nav-link text-white bg-gradient-primary" href="{% url 'send-notice' %}">
    <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
      <i class="material-icons opacity-10">receipt_long</i>
    </div>
    <span class="nav-link-text ms-1">Send Notice</span>
  </a>
</li>
{% endblock %}


{% block content %}
  <!-- End Navbar -->
  <div class="container-fluid px-2 px-md-4"><br><br><br>
    <!-- <div class="page-header min-height-300 border-radius-xl mt-4" style="background-image: url('https://images.unsplash.com/photo-1531512073830-ba890ca4eba2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1920&q=80');">
      <span class="mask  bg-gradient-primary  opacity-6"></span>
    </div> -->
    <div class="card card-body mx-3 mx-md-4 mt-n6">
      <div class="row gx-4 mb-2">
        <div class="col-lg-4 col-md-6 my-sm-auto ms-sm-auto me-sm-0 mx-auto mt-3">
          <div class="nav-wrapper position-relative end-0">
            
          </div>
        </div>
      </div>
      Send Notice
      <div class="row">
        <p style="text-align: center; color: red;">{{msg}}</p>
        <div class="row">
          <div class="card-body">
            <form role="form" action="{% url 'send-notice' %}" method="POST" enctype="multipart/form-data">
              {% csrf_token %}
                <div class="row">
                  <div class="col-8">
                    <label for="" class="form-control">Send by</label>
                    <input type="text" name="send-to" disabled class="form-control" value="{{notices.send_by.name}}" required placeholder="Enter Subject..." style="background-color: rgb(250, 243, 242); padding-left: 10px; border: black solid 1px;" id="">
                  </div>
                  <div class="col-8">
                    <label for="" class="form-control">Subject</label>
                    <input type="text" name="subject" disabled class="form-control" value="{{notices.subject}}" required placeholder="Enter Subject..." style="background-color: rgb(250, 243, 242); padding-left: 10px; border: black solid 1px;" id="">
                  </div>
                  <div class="row">
                    <div class="col-8">
                      <label for="" class="form-control">Description</label>
                      <textarea name="des" class="form-control" disabled required placeholder="type here..." id="" cols="30" rows="10"  style="background-color: rgb(250, 243, 242); padding-left: 10px; border: black solid 1px;">{{notices.des}}</textarea>
                    </div>
                  </div>
                  <br><br><br>
                  <div class="row" style="padding-top: 20px;">
                    <!-- <div class="col-3">

                      <button type="submit" class="btn btn-primary"><i class="fa fa-send"></i>  Notice</button>
                    </div> -->
                  </div>
                </div>
             </form>
        
        </div>
      </div>
    </div>
  </div>
{% endblock %}