{% extends 'header.html' %}
{% load static %}

{% block title %}
<title>View Complain</title>
{% endblock %}

{% block complain %}
    <li class="nav-item">
        <a class="nav-link text-white bg-gradient-primary" href="{% url 'complain' %}">
        <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
            <i class="fa fa-sticky-note-o"></i>
        </div>
        <span class="nav-link-text ms-1">Complain</span>
        </a>
    </li>
{% endblock %}

{% block content %}
 <!-- End Navbar -->
 <div class="container-fluid px-2 px-md-4"><br><br><br>
    <!-- <div class="page-header min-height-300 border-radius-xl mt-4" style="background-image: url('https://images.unsplash.com/photo-1531512073830-ba890ca4eba2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1920&q=80');">
      <span class="mask  bg-gradient-primary  opacity-6"></span>
    </div> -->
    <div class="card card-body mx-3 mx-md-4 mt-n6">
      <div class="row gx-4 mb-2">
        <div class="col-lg-4 col-md-6 my-sm-auto ms-sm-auto me-sm-0 mx-auto mt-3">
          <div class="nav-wrapper position-relative end-0">
            
          </div>
        </div>
      </div>
     <h4>view Complain</h4>
      <div class="row">
        <p style="text-align: center; color: red;">{{msg}}</p>
        <div class="row">
          <div class="card-body">
            <form role="form" action="view-complain" method="POST">
              {% csrf_token %}
              <div class="row">
                <div class="col-4">
                  <label for="" class="form-control">complain by</label>
                  <input type="text" name="c_by" class="form-control" value="{{complains.complain_by.fname}} {{complains.complain_by.lname}}" required placeholder="Enter name ..." style="background-color: rgb(250, 243, 242); padding-left: 10px; border: black solid 1px;" id="">
                </div>
                <div class="col-4">
                  <label for="" class="form-control">solve by</label>
                  <input type="text" name="s_by" class="form-control" value="{{complains.solve_by.name}}" required placeholder="Enter your name... " style="background-color: rgb(250, 243, 242); padding-left: 10px; border: black solid 1px;" id="">
                </div>
                <div class="col-4">
                    <label for="" class="form-control">Subject</label>
                    <input type="text" name="subject" class="form-control" value="{{complains.subject}}" required placeholder="Enter your subject... " style="background-color: rgb(250, 243, 242); padding-left: 10px; border: black solid 1px;" id="">
                  </div>
                <div class="row">
                  <div class="col-8">
                    <label for="text" class="form-control">Description</label>
                    <textarea name="des" class="form-control" value="{{complains.des}}" required placeholder="type here..." id="" cols="30" rows="10"  style="background-color: rgb(250, 243, 242); padding-left: 10px; border: black solid 1px;"></textarea>
                  </div>
                </div>
                <br><br>
                
              </div>
                </div>
             </form>
        
        </div>
      </div>
    </div>
  </div>
  <br><br>
{% endblock %}