{% extends 'member-header.html' %}
{% load static %}

{% block title %}
<title>Contact-list</title>
{% endblock %}

{% block content %}

<style>
#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}


#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04d085;
    color: white;
}
table#customers td {
    height: 50px;
}

table#customers th {
    text-align: center;
    font-size: 18px;
}
table#customers{
    margin: 50px 0px;
}
</style>
<!-- <section class="portfolio section">
  <div class="top-side gallerybg">
    
    <h2>Contact-list</h2>
  </div> -->
  <div id="hero" class="hero overlay subpage-hero contact-hero">
    <div class="hero-content">
        <div class="hero-text">
            <h1>Contact-list</h1>
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'member-index' %}">Home</a></li>
              <li class="breadcrumb-item active">Contact-list</li>
            </ol>
        </div><!-- /.hero-text -->
    </div><!-- /.hero-content -->
  </div><!-- /.hero -->
<br>
<div class="container">
  <h2>Contact-list</h2>

  <form action="" method="POST">
    {% csrf_token %}
    <div class="row" style="display: flex;">
     
      <div class="col-10" style="text-align: right;">
          <input class="form-control" style="margin: 20px; border: 2px rgb(51, 160, 41) solid; " type="text" name="search" id="">
      </div>
        <button class="btn btn-green" type="submit" style="margin-left: 30px; "><i class="fa fa-search"></i> </button>
      
    </form>

    </div>
{% if search %}
<h3 style="color: rgb(86, 194, 64);">Here are The search results of <span style="color: red;">" {{search}} "</span> </h3>
{% endif %}
<table id="customers">
 
  <tr>
    <th>Name</th>
    <th>Occupation</th>
    <th>Contact</th>
    <th>Email</th>
  </tr>
  {% for one in contacts %}
  <tr>
    <td>{{one.name}}</td>
    <td>{{one.occup}}</td>
    <td>{{one.contact}}</td>
    <td>{{one.email}}</td>
</tr>
{% endfor %}
  
</table>
</div>




{% endblock %}