{% extends 'member-header.html' %}
{% load static %}

{% block title %}
<title>Gallery</title>
{% endblock %}

{% block content %}

<style>
  .gallerybg{
    background: url(../static/member-static/assets/img/hero.jpg) no-repeat center / cover;
    height: 100%;
    width: 100%;
    display: table;
    position: relative;
    padding: 210px 0px;
    background-position: top;
  }
  .section.portfolio .filters {
    text-align: center;
    margin-top: 399px;
}
.section .top-side {
    text-align: center;
    position: absolute;
    height: auto;
    top: 0;
}
  .section {
  padding: 120px 0;
  color: #333;
  height: auto;
}
.section .top-side {
  text-align: center;
}
.section .top-side .title {
  font-weight: 500;
  font-size: 15px;
  display: inline-block;
}
.section .top-side .title:after {
  content: "";
  display: block;
  width: 50%;
  border-bottom: 1px solid #494949;
  margin: 8px auto;
}
.section .top-side h2 {
  font-weight: 700;
}
.section.portfolio .filters {
  text-align: center;
  margin-top: 399px;
}
.section.portfolio .filters ul {
  padding: 0;
}
.section.portfolio .filters ul li {
  list-style: none;
  display: inline-block;
  padding: 20px 30px;
  cursor: pointer;
  position: relative;
}
.section.portfolio .filters ul li:after {
  content: "";
  display: block;
  width: calc(0% - 60px);
  position: absolute;
  height: 2px;
  background: #333;
  transition: width 350ms ease-out;
}
.section.portfolio .filters ul li:hover:after {
  width: calc(100% - 60px);
  transition: width 350ms ease-out;
}
.section.portfolio .filters ul li.active:after {
  width: calc(100% - 60px);
}
.section.portfolio .filters-content {
  margin-top: 10px;
}
.section.portfolio .filters-content .show {
  opacity: 1;
  visibility: visible;
  transition: all 350ms;
}
.section.portfolio .filters-content .hide {
  opacity: 0;
  visibility: hidden;
  transition: all 350ms;
}
.section.portfolio .filters-content .item {
  text-align: center;
  cursor: pointer;
  margin-bottom: 30px;
}
.section.portfolio .filters-content .item .p-inner {
  padding: 20px 30px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.section.portfolio .filters-content .item .p-inner h5 {
  font-size: 15px;
}
.section.portfolio .filters-content .item .p-inner .cat {
  font-size: 13px;
}
.section.portfolio .filters-content .item img {
  width: 100%;
}
</style>
<section class="portfolio section">
  <div class="top-side gallerybg">
     
    <h2>Gallery</h2>
  </div>
  <div class="container">
   
    
    <div class="filters">
      <ul>
        <li class="active" data-filter="*">All</li>
        <li data-filter=".garden">Garden</li>
        <li data-filter=".events">Event</li>
        <li data-filter=".society">Society</li>
        <li data-filter=".gym">Gym</li>
      </ul>
    </div>
    
    <div class="filters-content">
      <div class="row grid">

        {% for photo in photos %}
        <div class="col-sm-4 all {{photo.type}}">
          <div class="item">
            <img src="{{photo.pic.url}}" alt="Work 1">
           
          </div>
        </div>
        {% endfor %}
        
      </div>
    </div>
    
  </div>
</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://unpkg.com/isotope-layout@3.0.4/dist/isotope.pkgd.min.js"></script>
<script>
  $('.filters ul li').click(function(){
  $('.filters ul li').removeClass('active');
  $(this).addClass('active');
  
  var data = $(this).attr('data-filter');
  $grid.isotope({
    filter: data
  })
});

var $grid = $(".grid").isotope({
  itemSelector: ".all",
  percentPosition: true,
  masonry: {
    columnWidth: ".all"
  }
})
</script>
{% endblock %}