{% extends 'member-header.html' %}
{% load static %}
{% block content %}
<style>
    form.form-group.newsletter-group button {
        margin-top: 0;
    position: relative;
    margin-top: 10px;
}
.star-rating {
    margin-bottom: 10px;
}
.hero-text {
 
    top: 80px !important;

}
    .star-rating {
  direction: rtl;
  display: inline-block;
  padding: 20px;
  cursor: default;
  padding-top: 0;
}
.star-rating input[type=radio] {
  display: none;
}
.star-rating label {
  color: #bbb;
  font-size: 18px;
  padding: 0;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.star-rating label:hover,
.star-rating label:hover ~ label,
.star-rating input[type=radio]:checked ~ label {
  color: #f2b600;
}
.star-rating i {
    font-size: 43px;
    margin: 0 10px;
}
    section.site-section.section-portfolio {
    overflow: hidden;
}
.service img {
    transition: all 0.5s;
}

.service:hover img {
    transform: translateY(-10px);
}
</style>
    <div id="hero" class="hero overlay">
        <div class="hero-content">
            <div class="hero-text">
                <P>Welcome to</P><BR>
                <h1>DIGITAL SOCIETY</h1>
                <p>More then just a digital marketing agency.</p>
            </div><!-- /.hero-text -->
        </div><!-- /.hero-content -->
    </div><!-- /.hero -->

    <section class="site-section section-features">
        <div class="container">
            <div class="row">
                <div class="col-sm-5">
                    <h2>What is “The Digital Society”?</h2>
                    <p>The Digital Society serves as a network between Students and Digital Entrepreneurs. We fill the gap between students and the latest industry ready requirements to keep up them in the race. The Digital Society was created by a group of Digital Entrepreneurs having an experience of more than 8 years with the sole aim of promoting digital awareness among our millennial.</p>
                </div>
                <div class="col-sm-7 hidden-xs">
                    <img src="{% static 'member-static/assets/img/house.jpg' %}" alt="">
                </div>
            </div>
        </div>
    </section><!-- /.section-features -->

    <main id="main" class="site-main">

        <section class="site-section section-map-feature text-center">

            <div class="container">
                <h2>Society Numbers</h2>
                <p>Some Details of Society</p>
                <div class="row">
                    <div class="col-sm-3 col-xs-6">
                        <div class="counter-item">
                            <p class="counter" data-to="377" data-speed="2000">{{memcount}}</p>
                            <h3>Society Members</h3>
                        </div><!-- /.counter-item -->
                    </div>
                    <div class="col-sm-3 col-xs-6">
                        <div class="counter-item">
                            <p class="counter" data-to="1204" data-speed="2000">{{eventcount}}</p>       
                            <h3>Event's Organised</h3>
                        </div> <!-- /.counter-item -->      
                    </div>
                    <div class="col-sm-3 col-xs-6">
                        <div class="counter-item">
                            <p class="counter" data-to="459" data-speed="1000">{{complaincount}}</p>
                            <h3>Member's Complain</h3>
                        </div><!-- /.counter-item -->
                    </div>
                    <div class="col-sm-3 col-xs-6">
                        <div class="counter-item">
                            <p class="counter" data-to="675" data-speed="1000">{{noticecount}}</p>
                            <h3>Member's Notice</h3>
                        </div><!-- /.counter-item -->
                    </div>
                </div>
            </div>
            
        </section><!-- /.section-map-feature -->
        
       
    
        <section class="site-section section-services gray-bg text-center">
            <div class="container">
                <h2 class="heading-separator">Our Services</h2>
                <p class="subheading-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                <div class="row">
                    <div class="col-md-3 col-xs-6">
                        <div class="service">
                            <img src="{% static 'member-static/assets/img/anchor.svg' %}" alt="">
                            <h3 class="service-title">Branding</h3>
                            <p class="service-info"> Learn why your brand is a valuable component when it comes to your marketing communication and why you don't want to be without one.</p>
                        </div><!-- /.service -->
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <div class="service">
                            <img src="{% static 'member-static/assets/img/bycicle.svg' %}" alt="">
                            <h3 class="service-title">Club</h3>
                            <p class="service-info">The students are encouraged to plan, organise and participate in various curricular and extra-curricular activities on their own with basic support from the Institute. </p>
                        </div><!-- /.service -->
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <div class="service">
                            <img src="{% static 'member-static/assets/img/paper-plane.svg' %}" alt="">
                            <h3 class="service-title">Development</h3>
                            <p class="service-info">Development is a way to make people aware of the services and/or products you are offering.</p>
                        </div><!-- /.service -->
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <div class="service">
                            <img src="{% static 'member-static/assets/img/photo.svg' %}" alt="">
                            <h3 class="service-title">Photography</h3>
                            <p class="service-info">Photographs are the legacy you leave for generations to come.</p>
                        </div><!-- /.service -->
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <div class="service">
                            <img src="{% static 'member-static/assets/img/microphone.svg' %}" alt="">
                            <h3 class="service-title">Support</h3>
                            <p class="service-info">A support network can include a variety of forms of interaction with a range of people who can support you in different ways. </p>
                        </div><!-- /.service -->
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <div class="service">
                            <img src="{% static 'member-static/assets/img/rocket.svg' %}" alt="">
                            <h3 class="service-title">Marketing</h3>
                            <p class="service-info">Marketing is of vital importance to any business. It is the key process of researching, promoting and selling products or services to your target.</p>
                        </div><!-- /.service -->
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <div class="service">
                            <img src="{% static 'member-static/assets/img/basket.svg' %}" alt="">
                            <h3 class="service-title">Ecommerce</h3>
                            <p class="service-info">When customers are deciding on a purchase, they start by looking online.</p>
                        </div><!-- /.service -->
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <div class="service">
                            <img src="{% static 'member-static/assets/img/chemestry.svg' %}" alt="">
                            <h3 class="service-title">Coding</h3>
                            <p class="service-info">We use the best coding practices</p>
                        </div><!-- /.service -->
                    </div>
                </div>
            </div>
        </section><!-- /.section-services -->

        

        <section class="site-section section-portfolio">
            <div class="container">
                <div class="text-center">
                    <h2 class="heading-separator">Society Gallery</h2>
                    <p class="subheading-text">This is some of our best work</p>
                </div>
                <div class="row">
                    {% for img in images %}
                    <div class="col-lg-3 col-md-4 col-xs-6">
                        <div class="portfolio-item">
                            <img src="{{img.pic.url}}" class="img-res" alt="">
                            <h4 class="portfolio-item-title">Gallery</h4>
                            <a href="{% url 'member-gallery' %}"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                        </div><!-- /.portfolio-item -->
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section><!-- /.section-portfolio -->

        <section class="site-section section-newsletter text-center">
            <div class="container">
                <h2>Subscribe our newsletters</h2>
               
                <!-- /.newsletter-group -->
                <div class="star-rating">
                    <input id="star-5" type="radio" name="rating" value="star-5" />
                    <label for="star-5" title="5 stars">
                      <i class="active fa fa-star" aria-hidden="true"></i>
                    </label>
                    <input id="star-4" type="radio" name="rating" value="star-4" />
                    <label for="star-4" title="4 stars">
                      <i class="active fa fa-star" aria-hidden="true"></i>
                    </label>
                    <input id="star-3" type="radio" name="rating" value="star-3" />
                    <label for="star-3" title="3 stars">
                      <i class="active fa fa-star" aria-hidden="true"></i>
                    </label>
                    <input id="star-2" type="radio" name="rating" value="star-2" />
                    <label for="star-2" title="2 stars">
                      <i class="active fa fa-star" aria-hidden="true"></i>
                    </label>
                    <input id="star-1" type="radio" name="rating" value="star-1" />
                    <label for="star-1" title="1 star">
                      <i class="active fa fa-star" aria-hidden="true"></i>
                    </label>
                  </div>
                  <form class="form-group newsletter-group">
                    <input type="email" class="form-control" placeholder="Your e-mail" required>
                    <button class="btn btn-green" type="button">Subscribe</button>
                </form>
            </div>
        </section><!-- /.section-newsletter -->

    </main><!-- /#main -->
{% endblock %}


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="{% static 'member-static/assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'member-static/assets/js/bootstrap-select.min.js' %}"></script>
    <script src="{% static 'member-static/assets/js/jquery.slicknav.min.js' %}"></script>
    <script src="{% static 'member-static/assets/js/jquery.countTo.min.js' %}"></script>
    <script src="{% static 'member-static/assets/js/jquery.shuffle.min.js' %}"></script>
    <script src="{% static 'member-static/assets/js/script.js' %}"></script>
  
</body>
</html>