{% extends 'member-header.html' %}
{% load static %}

{% block title %}
<title>Pending Request</title>
{% endblock %}

{% block content %}

<style>
#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}


#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04d085;
    color: white;
}
table#customers td {
    height: 50px;
}

table#customers th {
    text-align: center;
    font-size: 18px;
}
table#customers{
    margin: 50px 0px;
}
</style>


<section>
<!-- <div class="top-side gallerybg text-center">
     
<h2>Pending Request</h2>
</div> -->
<div id="hero" class="hero overlay subpage-hero contact-hero">
  <div class="hero-content">
      <div class="hero-text">
          <h1>Pending request</h1>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'member-index' %}">Home</a></li>
            <li class="breadcrumb-item active">Pending request</li>
          </ol>
      </div><!-- /.hero-text -->
  </div><!-- /.hero-content -->
</div><!-- /.hero -->
<br>
<div class="container">
<h2>Pending Request</h2>

<table id="customers">
  <tr>
    <th>Event title</th>
    <th>Event date</th>
    <th>Description</th>
    <th>Requested Date</th>
    <th>status</th>
  </tr>
  {% for event in events %}
  <tr>
    <td style="text-align: center;">{{event.title}}</td>
    <td style="text-align: center;">{{event.event_at}}</td>
    <td style="text-align: center;">{{event.des}}</td>
    <td style="text-align: center;">{{event.req_at}}</td>
    <td style="text-align: center;">{% if event.status == False %} <span style="color: red;">Pending</span> {% else %} <span style="color: rgb(45, 216, 45);">Approved</span> {% endif %} </td>
</tr>
{% endfor %}
  
</table>
</div>
</section>



{% endblock %}